
.Payment_fourth_section {
    background-position: center;
    border-top: 8px solid #F5F5F5;
    padding: 32px 12px;
}

.Payment_fourth_title_div {
    justify-content: space-between;
    display: flex;
}

.Payment_fourth_title_coupon {
    font: 400 14px "Noto Sans";
    cursor: pointer;
}

.Payment_fourth_title {
    font: 700 16px "Noto Sans";
    margin-bottom: 0px;
}
.Payment_fourth_title_margin {
    font: 700 16px "Noto Sans";
    margin-bottom: 20px;
}

.Payment_fourth_title_down {
    margin-left: 9px;
}

.Payment_fourth_title_up {
    transform: rotate(180deg);
    margin-left: 9px;
}

.Payment_fourth_coupon{
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}

.Payment_fourth_coupon_content {
    font: 700 13px "Noto Sans"
}

.Payment_fourth_coupon_content > span {
    font-family: "Montserrat";
    color: #FF3D12;
}
.Payment_fourth_coupon_date {
    font: 400 13px "Montserrat";
    margin-left: 8px;
}

.Payment_fourth_coupon_cant {
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    margin-bottom: 8px;
}

.Payment_fourth_coupon_click {
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    border: 1px solid #FF3D12;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}
.Payment_fourth_coupon_click span {
    line-height: 51px
}

.Payment_fourth_coupon_cant_content {
    font: 700 13px "Noto Sans";
    color: #DDDDDD;
}

.Payment_fourth_coupon_cant_content > span {
    font-family: "Montserrat";
    color: #DDDDDD;
}
.Payment_fourth_coupon_cant_date {
    font: 400 13px "Montserrat";
    margin-left: 8px;
    color: #DDDDDD;
}
