.Payment_footer_section {
    width: calc(100% - 24px);
    max-width: 404px;
    height: 56px;
    margin: 0 12px;
    text-align: center;
    background-color: #FF3D12;
    cursor: pointer;
    bottom: 32px;
    position: fixed;
    line-height: 54px;
    border-radius: 8px;
}


.Payment_footer_modal {
    transition:  all 1s;
    position: absolute;
    padding: 10px;
    background-color: #FF3D12;
    font: 400 14px "Noto Sans";
    color: #ffffff;
    text-align: left;
    display: none;
}

.Payment_footer_modal_up {
    transition:  all 1s;
    width: calc(100% - 40px);
    max-width: 380px;
    top:-64px;
    position: absolute;
    background: rgba(51,51,51,0.9);;
    border-radius: 8px;
    padding: 0 20px;
    font: 400 14px "Noto Sans";
    color: #ffffff;
    text-align: left;
    margin: auto;
    height: 56px;
    line-height: 56px;
}
.Payment_footer_modal_up::after {
    top:-85px;
    transition:  all 1s;
}

.Payment_footer_price {
    font: 700 16px "Noto Sans";
    color: #FFFFFF;
    line-height: 56px;
}

