
.Board_fourth_section {
    border-bottom: 8px solid #F5F5F5;
}


.store_title {
    font: 700 15px "Noto Sans";
    border-top: 8px solid #F5F5F5;
    padding: 60px 12px 20px 12px;
}

.recommand_scroll {
    height: fit-content;
    overflow-x: scroll;
    white-space:nowrap;
    display: flex;
    padding-bottom: 60px;
    margin: 0 12px ;
}