.Board_second_section {
    margin: 0 12px 20px 12px;
}
.Board_real_price{
    padding-top: 28px;
    font: 400 14px "Montserrat";
    color: #9C9C9C;
    text-decoration-line: line-through;
}

.Board_second_price{
    justify-content: space-between;
    display: flex;
    max-width: 428px;
    padding-bottom: 15px;
    height: 36px;
    border-bottom: 1px solid #DDDDDD;;
}
.Board_like {
    text-align: right;
    z-index: 100;
}


.Board_title {
    padding: 30px 0 12px 0;
    font: 700 16px "Montserrat";
}

.Board_content {
    font: 400 14px "Noto Sans";
}

.Board_price {
    line-height: 40px;
}

.Board_price_percent {
    font: 700 21px "Montserrat";
    margin-right: 15px;
    color: #FF3D12;
}

.Board_price_price {
    font: 700 21px "Montserrat";
    color: #333333;
}
.Board_second_addprice {
    padding: 20.5px 0 20px 0;
    width: 100%;
    height: fit-content;
}

.Board_second_naver{
    padding: 20px 0px;
    width: 100%;
    display: flex;

}

.Board_second_naver span, .Board_second_naver a {
    width: 100%;
    text-align: center;
    font: 400 16px "Noto Sans";
    line-height: 54px;
    color: #FFFFFF;
}
.Board_second_naver img {
    border-right: 1px solid #84D977;
}
.Board_second_naver > div {
    background-color: #3EC62A;
    height: 56px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    text-align: center;
}

.Board_second_addprice > div{
    min-height: 40px;
    float: left;
    font: 400 14px "Noto Sans";
    display: block;
}

.Board_second_store {
    justify-content: space-between;
    display: flex;
    background: #F0F0F0;
    padding: 23px 20px 23px 20px;
    font: 700 14px "Noto Sans";
}


.Board_second_store img {
    float: right;
    height: 14px;
}

.Board_banner {
    width: 100%;
    max-width: 428px;
}

.Board_banner img {
    width: 100%;
}
