.store_map {
    width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
}

.store_box {
    max-width: 196px;
    width: 45.8vw;
    text-align: center;
    height: 54px;
    background: #F0F0F0;
    font: 700 15px "Noto Sans";
    cursor:pointer;
}
.store_box a{
    font: 700 15px "Noto Sans";
}