
.Board_third_section {
    margin: 0px 12px 0px 12px;
}

.Board_third_section_moreview {
    margin: 2px 12px 0px 12px;
    height: 1200px;
    overflow-y: hidden;
    position: relative;
}

.Board_mainimg {
    padding-top: 120px;
    width: 100%;
    padding-bottom: 60px;
}

.BaA {
    font: 700 24px "Montserrat";
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
}

.Board_caution {
    padding: 40px 7px 40px 7px;
    margin-top: 120px;
    border-top: 1px solid #8E8E8E;
    border-bottom: 1px solid #8E8E8E;;
}

.private {
    font: 700 24px "Montserrat";
    text-align: center;
    margin-bottom: 40px;
    margin-top: 140px;
}
.private_img {
    width: 320px;
    height: 320px;
    margin-right: 10px;
}

.private_div{
    padding-bottom: 10px;
    height: fit-content;
    overflow-x: scroll;
    white-space:nowrap;
    display: flex;
}

.Board_third_moreview {
    background: linear-gradient(0.16deg, #FFFFFF 0.14%, rgba(255, 255, 255, 0) 99.85%, rgba(255, 255, 255, 0) 99.86%);
    height: 220px;
    width: 100%;
    z-index: 10;
    bottom:0;
    position: absolute;
}

.Board_third_moreview_button {
    max-width: 402px;
    width: 99.5%;
    height: 56px;
    font: 700 14px "Noto Sans";
    line-height: 56px;
    border: 1px solid #DDDDDD;
    text-align: center;
    border-radius: 8px;
    background-color: #FFFFFF;
    bottom: 0;
    margin-top: 145px;
    cursor: pointer;
}