.Coupon_mycoupons {
    margin-top: 61px;
    padding: 40px 12px 34px 12px;
    border-top:  1px solid #DDDDDD;
}

.Coupon_mycoupons_title {
    font: 700 16px "Noto Sans";
    margin-bottom: 20px;
}

.Coupon_mycoupons_title >span {
    color: #FF5732;
}

.mycoupon_policy{
    padding: 32px 12px 84px 12px;
    background-color: #F5F5F5;
}

.coupon_div {
    max-width: 404px;
    height: 136px;
    border: 1px solid #DDDDDD;
    line-height: 136px;
    border-radius: 8px;
    margin-bottom: 8px;
}


.coupon_first_div_used {
    margin: 28px 0 28px 0;
    padding: 0 12px 0 16px;
    float: left;
    border-right: 1px dashed #DDDDDD;
}
.coupon_first_div_used > div{

    text-align: center;
    font: 700 14px "Montserrat";
    line-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background: #DDDDDD;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    color: #FFFFFF;
}

.coupon_first_div {
    margin: 28px 0 28px 0;
    padding: 0 12px 0 16px;
    float: left;
    border-right: 1px dashed #DDDDDD;
}

.coupon_first_div > div {
    text-align: center;
    font: 700 14px "Montserrat";
    line-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background: #FF5732;
    border: 1px solid #FF5732;
    box-sizing: border-box;
    color: #FFFFFF;
}

.coupon_second_div {
    margin: 0 0 0 16px;
    padding: 28px 0 28px 0;
    float: left;

}

.used .coupon_first_div {
    border-bottom: 1px solid rgba(75, 75, 75, 0.69);
}

.used {
    background: rgba(0, 0, 0, 0.69);
}


.coupon_ul li { position: relative; padding-left: 14px; font: 400 13px "Noto Sans";line-height: 20px; color: #9C9C9C; word-break: keep-all;}
.coupon_ul li + li { margin-top: 8px; }
.coupon_ul li .num { position:absolute; top: -1px; left: 0; font-size: 17px; font-weight: 600; line-height: 20px; color: #9C9C9C;}
.mycoupon_policy ul {
    list-style: none;
}