.profile_edit {
    border-top: 8px solid #F5F5F5;
}

.profile_edit >a {
    display: flex;
    justify-content: space-between;
    padding: 23px 12px 23px 12px;
    background-color: #ffffff;
}

.profile_edit_subtitle {
    font: 700 13px "Montserrat";
    color: #9d9d9d;
    padding: 32px 12px 17px 12px;
}

.profile_edit_div {
    display: flex;
    justify-content: space-between;
    padding: 23px 12px 23px 12px;
    background-color: #ffffff;
}

.profile_edit >a >div {
    font: 400 14px "Noto Sans"
}


.profile_edit_div >div {
    font: 400 14px "Noto Sans"
}
