.login_id{
    max-width: 416px;
    height: 80px;
    font: 700 17px "Montserrat";
    line-height: 80px;
    padding-left: 12px;
}

.Mypage_section {
    margin-top: 76px;
}

.mypage-filter {
    width: 100%;
    text-align: center;
    position: relative;
    height: 90px;
    line-height: 90px;
    display: block;
    border-top: 8px solid #F5F5F5;
}

.mypage-filter a{
    padding: 16px 0 20px 0;
    width: 33.333%;
    float: left;
    color: #333333;
    font: 400 14px "Noto Sans";
    cursor: pointer;
}

.mypage-filter span {
    color: #FF5732;
    font-size: 45px;
    position: absolute;
    margin-top: -8px;
    margin-left: -10px;
    font-family: "Montserrat";
}

.mypage-payment-check{
    padding: 32px 12px;
}

.mypage-subtitle {
    font: 700 13px "Montserrat";
    color: #9d9d9d;
    margin-bottom: 20px;
}

.mypage-payment-check-div {
    display: flex;
    justify-content: space-around;
    background-color: #F5F5F5;
    border-radius: 8px;
}
.mypage-payment-check-content-number{
    font: 700 18px "Montserrat"
}
.mypage-payment-check-content {
    padding: 20px 25px;
    text-align: center;
}

.mypage-payment-check-content-content {
    font: 400 14px "Noto Sans"
}

.mypage-payment-check-arrow {
    margin: 0 auto;
    line-height: 82px;
}

.mypage-info {
    padding: 25px 12px 20px 12px;
    margin-top: 20px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
}
.mypage-info-title {
    font: 400 14px "Noto Sans";
    margin-bottom: 20px;
}

.mypage-info-contact {
    display: flex;
    margin-bottom: 12px;
}
.mypage-info-contact div {
    width: 166px;
    height: 45px;
    border: 2px solid #DDDDDD;
    border-radius: 8px;
    text-align: center;
    line-height: 45px;
}

.mypage-info-contact a {
    font: 400 13px "Noto Sans";
}

.mypage-info-content {
    font: 400 12px "Montserrat";
    line-height: 20px;
    color: #9C9C9C
}

.mypage-policy {
    padding: 25px 12px 80px 12px;
    background-color: #F5F5F5;
}

.mypage-policy-name {
    font: 700 12px "Noto Sans";
    margin-bottom: 20px;
}

.mypage-policy-content {
    font: 400 12px "Montserrat";
    line-height: 20px;
}



.mypage-list {
    padding: 28px 12px 80px 12px;
}