.mypayment{
    padding: 24px 18px 24px 18px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    margin-bottom: 12px;

}

.mypayment_pay_goods {
    font: 700 14px "Noto Sans";
    margin-bottom: 6px;
    overflow: hidden;
    height: 21px;
    text-overflow : ellipsis;
    white-space : pre;
}


.mypayment_pay_goods:last-child {
    margin-bottom: 0;
}


.mypayment_pay_state {
    font: 700 12px "Noto Sans";
    width: 52px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 12px;
    text-align: center;
}

.mypayment_pay_state span {
    font: 700 12px "Noto Sans";
    text-decoration:none;
}


.refund .mypayment_pay_goods  {
    color: #9C9C9C;
    text-decoration-line: line-through;
}

.mypayment .refund  .mypayment_pay_goods {
    color: #9C9C9C;
    text-decoration-line: line-through;
    
}

.mypayment_pay_dday {
    border-radius: 180px;
    width: 38px;
    height: 37px;
    background: #FF5732;
    padding: 15px 14px 14px 14px;
}

.mypayment_pay_dday_content {
    font: 700 12px "Montserrat";
    color: #FFFFFF;
    text-align: center;
}

.mypayment_pay_dday_num {
    font: 800 20px "Montserrat";
    color: #FFFFFF;
    text-align: center;
}