.Review_myreviews{
    padding: 20px 12px 85px 12px;
    border-top:  1px solid #DDDDDD;
}

.mypage_noreview {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 68px;
}

.mypage_noreview > div {
    margin-top: 25px;
    font: 700 18px "Noto Sans";
    color: #ADADAD;
}

.mypage_noreview > div > div {
    margin-bottom: 5px;
}

.filter-myreview {
    width: 100%;
    text-align: center;
    position: relative;
    height: 43px;
    margin-top: 61px;
}
.push_button {
    border-bottom: 2px solid #333333;
}

.pull_button {
    border-bottom: 1px solid #ECECEC;
}

.filter-myreview .push_button {
    width: 50%;
    float: left;
    height: 43px;
    color: #333333;
    font: 700 14px "Noto Sans";
    line-height: 43px;
    cursor: pointer;
}

.filter-myreview .pull_button {
    width: 50%;
    float: left;
    height: 43px;
    color: #333333;
    font: 500 14px "Noto Sans";
    line-height: 43px;
    cursor: pointer;
}
