.myreview {
    width: 100%;
    max-width: 404px;
    height: 100px;
    margin-bottom: 20px;
}
.myreview_img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 14px;
}

.myreview_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myreview_content {
    max-width: 283px;
    width: 100%;
    height: 100px;
    
}

.myreviwew_edit {
    text-align: center;
    font: 700 14px "Montserrat";
    line-height: 36px;
    width: 77px;
    height: 36px;
    background: #F0F0F0;
}

.myreview_board {
    height: 64px;
    font: 700 14px "Montserrat"
}

