.Receipt_Fourth_section{
    background-position: center;
    border-top: 8px solid #F5F5F5;
    padding: 32px 12px;
    height: fit-content;
}

#rstore .dl {
    width: 100%; 
    display: flex; 
    padding-bottom: 24px;
}
#rstore .dd {
    font: 400 13px "Montserrat";
    margin-left: 12px;
}
#rstore .dt {
    width: 90px; 
    font: 700 12px "Montserrat";
    color: #9C9C9C;
}

.store-map {
    margin-top: 12px;
    border: 1px solid #DDDDDD;
    width: 166px;
    height: 40px;
    font: 700 12px "Montserrat";
    line-height: 40px;
    text-align: center;
}