
.Ddetail-filter {
    width: 100%;
    text-align: center;
    max-width: 428px;
    background-color: #ffffff;
    z-index: 20;
    height: 44px;
    position: relative;
}

.fixed {
    position: fixed;
}

.Ddetail-filter > .push_button {
    font-weight: 700;
}
.Ddetail-filter p {
    width: 20%;
    float: left;
    height: 32px;
    color: #333333;
    font: 400 14px "Noto Sans";
    margin-top: 12px;
    cursor: pointer;
}

.Ddetail_coupon_div {
    width: 100%;
}

.Ddetail_coupon {
    margin: 0 12px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    padding: 2px;
    cursor: pointer;
}

.Ddetail_reserve_div {
    margin: 10px 12px 10px 12px;
    display: flex;
    justify-content: space-around;
}

.Ddetail_reserve_div div {
    width: 169px;
    height: 44px;
    text-align: center;
    font: 700 13px "Noto Sans";
    line-height: 44px;
    border-radius: 8px;
    cursor: pointer;
}

.Lowe_reservation {
    position: absolute;
    z-index: 10;
    animation: horizontals 10s ease-in-out normal;
    transition:all 0.5s;
    opacity: 0;
}

@keyframes horizontals {
    0% {
        opacity: 0;
        margin-top: -30px;
        z-index: -1;
    }
    15% {
        opacity: 1;
        margin-top: -43px;
    }
    85% {
        opacity: 1;
        margin-top: -43px;
    }
    100% {
        opacity: 0;
        margin-top: -30px;
    }
  }