
.Ddetail-filter {
    width: 100%;
    text-align: center;
    position: relative;
    height: 44px;
}

.Ddetail-filter > .push_button {
    font-weight: 700;
}
.Ddetail-filter p {
    width: 25%;
    float: left;
    height: 44px;
    color: #333333;
    font: 400 14px "Noto Sans";
    line-height: 44px;
    cursor: pointer;
}

.Ddetail_coupon_div {
    width: 100%;
}

.Ddetail_coupon {
    margin: 0 12px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    padding: 2px;
    cursor: pointer;
}