body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color : transparent;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  color: #333333;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}

  @font-face {
    font-family: "Montserrat"; 
    unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
    font-weight: 400;
    src:  
    url("./fonts/Montserrat-Regular.ttf") format("woff2"),
    url("./fonts/Montserrat-Regular.ttf") format("woff"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype"),
    url("./fonts/Montserrat-Regular.ttf") format("embedded-opentype");
  }
  
  @font-face {
    font-family: 'Noto Sans';
    unicode-range: U+AC00-D7A3;
    font-weight: 400;
    src: 
    url("./fonts/NotoSansKR-Regular.otf") format("woff2"),
    url("./fonts/NotoSansKR-Regular.otf") format("woff"),
    url("./fonts/NotoSansKR-Regular.otf") format("truetype"),
    url("./fonts/NotoSansKR-Regular.otf") format("embedded-opentype");
  }

* {
  font-family: Montserrat, Noto Sans, sans-serif; 
  margin: 0;
  padding: 0;
  line-height: 100%;
}

body a{
  text-decoration: none;
  color: #333333;
}

body input[type="text"], body input[type="radio"], body input[type="textarea"], body input[type="number"], body input[type="password"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

body div:focus{
	outline:none !important;
}


body button{
	outline:none !important;
}

body div{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
	outline:none;
}
body div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body textarea {
  resize: none;
}


#root {
  width: 100%;
  max-width: 428px;
  margin: 0 auto;
  overflow: hidden;
}

.slick-slider{
  overflow: hidden;
}

body input[type=number]::-webkit-inner-spin-button,
body input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;             
  margin: 0;         
} 


body .Mainpage_third_banner li {
  width: 2px;
  padding: 4px;
  height: auto !important;
  margin: 8px 4px 0;
}

body .Mainpage_third_banner .slick-dots {
  bottom: -32px;
  display: contents !important;
}

body .Mainpage_third_banner .slick-dots li button:before { 
 color: #DDDDDD;
opacity: 1;
width: 10px;
font-size: 8px;
} 

body .Mainpage_third_banner li.slick-active button:before { 
  color: #333333;
 opacity: 1;
 width: 10px;
 font-size: 8px;
} 
body .Mainpage_third_banner .slick-slider {
  margin: auto;
  text-align: center;
}

@media screen and (max-width:  428px) {
  body .Mainpage_third_banner .slick-dots {
    bottom: -4.2666vw;
    
  }
}