body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color : transparent;
  -webkit-overflow-scrolling: touch;
  padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif; 
  margin: 0;
  padding: 0;
  line-height: 120%;
}

body a{
  text-decoration: none;
  color: #333333;
}

body img {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.slick-slider{
  overflow: hidden;
}

body input[type=number]::-webkit-inner-spin-button,
body input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;             
        margin: 0;         
    } 