
.Reservation_first_section {
    background-position: center;
    margin-top: 60px;
    border-top: 1px solid #DDDDDD;
    background-position: center;
    padding: 32px 12px;
}

.Reservation_first_title {
    font: 700 16px "Noto Sans";
    margin-bottom: 20px;
}


.Reservation_first_title {
    font: 700 16px "Noto Sans";
    margin-bottom: 20px;
}
.Reservation_first_content {
    width: 100%;
}

.Reservation_first_content_title {
    width: 80px;
    display: inline-block;
    margin-right: 14px;
    font: 400 14px "Noto Sans";
    color: #9C9C9C;
}

.Reservation_first_content_content {
    font: 500 14px "Montserrat";
}