.Reservation_change_footer_section {
    z-index: 150;  
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000000D9; 
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.Reservation_change_modal_modalInner {
    width: 300px;
    height: 375px;
    margin: auto;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 16px;
}

.Reservation_change_modal_content {
    height: 270px;
    padding: 40px 30px;
}

.Reservation_change_modal_circle {
    width: 40px;
    height: 40px;    
    background: #FF3D12;
    color: #ffffff;
    margin: auto;
    text-align: center;
    font: 700 16px "Noto Sans";
    line-height: 38px;
    border-radius: 180px;
    margin-bottom: 12px;
}

.Reservation_change_modal_content_title {
    margin-bottom: 4px;
    font:700 12px "Noto Sans";
    color: #9c9c9c
}

.Reservation_change_modal_content_content {
    margin-bottom: 16px;
    font: 700 14px "Noto Sans";
}

.Reservation_change_modal_button {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 0px 0 16px 16px;
    border-top: 1px solid #DDDDDD;
    bottom: 0;
}

.Reservation_change_modal_button a {
    display: contents;
    width: calc(50% - 2px);
}
.Reservation_change_modal_button div {
    height: 50px;
    width: 50%;
    text-align: center;
    line-height: 50px;
}
