
.Like_first_section {
    background-position: center;
    width: 100%;
    margin-top: 2px;
}

.Like_total {
    padding-left: 12px;
    height: 60px;
    font: 700 14px "Montserrat";
    line-height: 60px;
}


.mypage_nolike {
    margin-top: 32px;
    text-align: center;
    width: 100%;
    max-width: 428px;
    margin-bottom: 115px;
}
.mypage_nolike > div {
    margin-top: 20px;
    font: 400 16px "Noto Sans";
    color: #ADADAD;
}

.nolike_button {
    width: 96px;
    height: 34px;
    background-color: #333333;
    margin: auto;
}

.Recent_total_list {
    margin-bottom: 30px;
    padding-left: 12px;
}

.mypage_nolike > div a {
    color: #ffffff;
    font: 700 14px "Noto Sans"
}


.Recent_total_slide {
    overflow-x: scroll;
    white-space:nowrap;
    height: 310px;
    margin: auto;
    display: flex;

}

#special_recent_list a , #special_recent_list .goods_thumnail{
    width: 160px;
    height: 160px;
    min-width: 160px;
    min-height: 160px;
}

#special_recent_list .goods_title, #special_recent_list .goods_price, #special_recent_list .goods_designer {
    width: 150px;
    min-width: 130px;
}

.Recent_total_slide > span {
    margin-right: 8px;
}

.Recent_total_slide div {
    padding-left: 0px;
}