
.Like_first_section {
    background-position: center;
    width: 100%;
}

.Like_total {
    padding-left: 12px;
    height: 60px;
    font: 700 14px "Montserrat";
    line-height: 60px;
}


.mypage_nolike {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 428px;
    margin-bottom: 70px;
}
.mypage_nolike > div {
    margin-top: 5px;
    font: 700 18px "Noto Sans";
    color: #ADADAD;
}

.mypage_nolike > div > div {
    margin-top: 5px;
}
.nolike_button {
    width: 160px;
    height: 52px;
    background-color: #333333;
    margin: auto;
}

.Recent_total_list {
    margin-bottom: 30px;
    padding-left: 12px;
}

.mypage_nolike > div a {
    color: #ffffff;
    font: 700 18px "Noto Sans"
}
