.Promotion_spring img {
    width: 100%;
    max-width: 428px;
    image-rendering: -webkit-optimize-contrast
}

.Promotion_spring_second_img {
    width: 100%;
    padding: 50px 0 140px 0;
    background-color: #EAF4F6;
    text-align: center;
    margin: 0 auto;
    margin-top: -4px;
}

.Promotion_spring_second_img img {
    max-width: 351px;
    width: 100%;
}