.Designer_section {
    margin-top: 60px;
    padding-bottom: 80px;
}

.Designer-filter {
    margin: auto;
    width: 100%;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 40px;
}

.Designer_ranking_number{
    padding-left: 12px;
    margin-right: -8px;
    float: left;
    font: 700 14px "Montserrat";
    line-height: 84px;
    text-align: center;
    color: #9C9C9C;
    width: 20px;
}

.Designer_ranking_number_three{
    padding-left: 12px;
    margin-right: -8px;
    float: left;
    font: 700 10px "Montserrat";
    line-height: 84px;
    text-align: center;
    color: #9C9C9C;
    width: 20px;
}


.Designer-filter .push_button {
    width: 50%;
    float: left;
    height: 40px;
    color: #333333;
    font: 700 14px "Montserrat";
    line-height: 40px;
    cursor: pointer;
}

.Designer-filter .pull_button {
    width: 50%;
    float: left;
    height: 40px;
    color: #333333;
    font: 400 14px "Montserrat";
    line-height: 40px;
    cursor: pointer;
}

.Designer_filter {
    width: 290px;
    line-height: 35px;
}

.Designer_filter_div img {
    margin: auto;
    vertical-align: middle;
    margin-top: -4px;
}

.Designer_filter_div > div {
    line-height: 35px;
}

.Designer_filter_true img {
    filter: invert(37%) sepia(98%) saturate(3930%) hue-rotate(352deg) brightness(101%) contrast(105%);
}

.Designer_filter_div {
    padding: 0 12px 0 0;
    margin: 16px 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    display: flex;
    max-width: 418px; 
    height: 35px;
    line-height: 35px;
}
.Designer_filter > span {
    cursor: pointer;
    float: left;
}

.Designer_filter_slide {
    overflow-x: scroll;
    white-space:nowrap;
    display: flex;
    margin: 0;
    width: 235px;
    margin-top: 5px;
}

.Designer_filter_slide_span {
    padding: 9px 12px;
    font-size: 14px;
    background: #F5F5F5;
    border-radius: 20px;
    height: 14px ;
    margin-right: 8px;
}

.Designer_filter_false {
    color: #333333;
    background-color: #F5F5F5;
    font: 400 14px "Noto Sans";
    border-radius: 8px;
}

.Designer_filter_false span {
    font: 700 14px "Noto Sans";
}


.Designer_filter_true {
    color: #FF3D12;
    font: 700 14px "Noto Sans";
    background: #FFF4F1;
    border-radius: 8px;
}