.Designer_section {
    margin-top: 60px;
    padding-bottom: 80px;
}

.Designer-filter {
    margin: auto;
    width: 100%;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 40px;
}

.Designer_ranking_number{
    padding-left: 20px;
    padding-right: 4px;
    float: left;
    font: 700 10px "Montserrat";
    line-height: 84px;
    text-align: center;
    color: #9C9C9C;
}

.Designer-filter .push_button {
    width: 50%;
    float: left;
    height: 40px;
    color: #333333;
    font: 700 14px "Montserrat";
    line-height: 40px;
    cursor: pointer;
}

.Designer-filter .pull_button {
    width: 50%;
    float: left;
    height: 40px;
    color: #333333;
    font: 400 14px "Montserrat";
    line-height: 40px;
    cursor: pointer;
}

.Designer_filter {
    line-height: 35px;
}

.Designer_filter_div img {
    margin: auto;
    vertical-align: middle;
    margin-top: -5px;
}

.Designer_filter_div > div {
    line-height: 35px;
}

.Designer_filter_true img {
    filter: invert(37%) sepia(98%) saturate(3930%) hue-rotate(352deg) brightness(101%) contrast(105%);
}

.Designer_filter_div {
    padding: 0 12px;
    margin: 16px 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    display: flex;
    width: 95%;
    max-width: 406px; 
    height: 35px;
    line-height: 35px;
}
.Designer_filter > span {
    padding: 6px 12px 6px 12px;
    margin-right: 8px;
    cursor: pointer;
}


.Designer_filter_false {
    color: #333333;
    background-color: #F5F5F5;
    font: 400 14px "Noto Sans";
    border-radius: 8px;
}

.Designer_filter_false span {
    font: 700 14px "Noto Sans";
}


.Designer_filter_true {
    color: #FF3D12;
    font: 700 14px "Noto Sans";
    background: #FFF4F1;
    border-radius: 8px;
}