
.goods {
    width: 187px;
    z-index: -100;
}
.goods div {
    line-height: 100%;
}

.goods_thumnail{
    width: 214px;
    height: 214px;
    object-fit: cover;
}

.goods_like {
    text-align: right;
    z-index: 100;
}

.goods_title {
    padding: 0px 12px 8px 12px;
    white-space : pre;
    width: 186px;
    overflow: hidden;
    text-overflow : ellipsis;
    font: 500 13px "Noto Sans";
}


.goods_designer {
    padding: 12px 12px 0px 12px;
    height: 20px;
    width: 186px;
    font: 400 13px "Noto Sans";
    color: #9C9C9C;
}

.goods_price {
    padding: 0 12px 28px 12px;
    height: 32px;
    width: 186px;
}

.goods_price_percent {
    font: 700 15px "Montserrat";
    margin-right: 8px;
    color: #FF3D12;
}

.goods_price_realprice {
    font: 400 12px "Montserrat";
    color: #9C9C9C;
    text-decoration-line: line-through;
    margin-top: 4px;
}

.goods_price_price {
    font: 700 15px "Montserrat";
    color: #333333;
}

.goods_signature_box {
    position: relative;
    margin-bottom: -20px;
    font: 400 10px "Noto Sans";
    width: 45px;
    height: 20px;
    background: #FF5732;
    text-align: center;
    line-height: 20px !important;
    color: #ffffff;
}


@media screen and (max-width:  429px) {
    .goods_thumnail{
        width: 50vw;
        height: 50vw;
        min-width: 187px;
        min-height: 187px;
        object-fit: cover;
    }

    .goods_title {
        width: 42vw;
        min-width: 159px;
        font: 500 13px "Noto Sans";
    }

    .goods_designer {
        padding: 12px 12px 0px 12px;
        height: 20px;
        width: 42vw;
        font: 400 13px "Noto Sans";
        color: #9C9C9C;
    }

    .goods_price {
        padding: 0 12px 28px 12px;
        height: 32px;
        width: 42vw;
        min-width: 159px;
    }
}