.Home_second_section{
    padding-top: 61px;
}

.goods_list {
    width: 100%;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 52px;
    
}
.middle_banner{  
    width: 100%;
    max-width: 428px;
}


.middle_banner img {
    width: 100%;
    margin-bottom: 28px;
}

@media screen and (max-width:  374px) {
    .goods_list {
        justify-content: center;
    }
}