  .header {
    position: fixed;
    width: 100%;
    max-width: 375px;
    z-index: 10;
    height: 60px;
    top: 0;
    background-color: white;
  }
  
  .header_logo{
    width: 116px;
    height: 60px;
    position: absolute;
    left:0
  }

  .header_search {
      width: 60px;
      position: absolute;
      right: 0;
      height: 60px;
  }


.header .header_back{
  position: absolute;
  margin-top: -64px;
}

.header .header_name {
    min-width: 375px;
    font: 700 17px "Montserrat";
    height: 60px;
    line-height: 60px;
    text-align: center;
}