.header3 {
    position: fixed;
    width: 100%;
    max-width: 428px;
    z-index: 10;
    height: 60px;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #DDDDDD;
  }
  
  .header_back{
    z-index: 20;
  }

  .header_input {
      width: 80%;
      max-width: 255px;
      position: absolute;
      height: 60px;
      line-height: 60px;
      border: none;
      outline: none;
      font: 500 16px "Noto Sans"
  }

  .header_search {
    width: 60px;
    position: absolute;
    right: 0;
    height: 60px;
}

.nonSearch_title{
    padding: 0px 12px 28px 12px;
    font: 700 14px "Noto Sans";
}
.nonSearch_content{
    padding-left: 12px;
}
.nonSearch_content > span {
    width: 50%;
    float: left;
}

.nonSearch_content_num {
    width: 32px;
    font: 700 15px "Montserrat";
    display: inline-block;
    margin-bottom: 25px;
}

.nonSearch_content_text {
    font: 500 15px "Noto Sans";
    cursor: pointer;
}

.cannot_search {
    
    transform: translate(0, 35vh);
    text-align: center;
}
.cannot_search > img {
    margin-bottom: 20px;
}

.cannot_search >div >div {
    color: #ADADAD;
    font-family: "Noto Sans";
    line-height: 150%;
}

.search_name {
    position: absolute;
    top: 0;
    margin-top: 60px;
    height: 100%;
    background-color: #ffffff;
    width: 100%;
    overflow: scroll;
    padding-bottom: 80px;
}
.search_board_name_div{
    margin: 32px 12px 0px 12px;
    max-width: 375px;
    width: 100%;
    display: block;

}

.search_board_name {
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

.no_search {
    max-width: 375px;
    width: 100%;
    transform: translate(0, 28vh);
    text-align: center;
    height: 100vh;
}

.no_search > img {
    margin-bottom: 20px;
}
.no_search_board {
    width: 100%;
    margin-top: 160px;
    text-align: center;
    padding-bottom: 115px;
    border-bottom: 8px solid #f5f5f5;
}

.no_search_board > img {
    margin-bottom: 20px;
}


.no_search_board >div >div {
    color: #ADADAD;
    font-family: "Noto Sans";
}

.no_search >div >div {
    color: #ADADAD;
    font-family: "Noto Sans";
    line-height: 150%;
}

.search_filter_recent {

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}
.can_search span{
    position: relative;
}
.search_filter_recent > div {
    height: 49px;
    line-height: 49px;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

.search_filter_recent > div > span {
    font: 400 14px "Noto Sans";
    color: #333333;
}

.highlight { font-weight : bold; color: #FF3D12; }

.Search_main_store {
    margin: 4px 12px 0 12px;
}

.Search_main_store span {
    padding: 9px 12px;
    background: #FFF4F1;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    color:#FF3D12;
    margin-right: 8px;
    display: inline-block;
    word-break: keep-all;
    cursor: pointer;
    margin-top: 12px;
}

.Search_recommand {
    margin: 32px 12px 16px;
    font: 700 14px "Noto Sans";
}

.no_search_recommand {
    padding: 21px 12px;
    font: 700 18px "Montserrat";
}