.recentSearch_text_div{
    justify-content: space-between;
    display: flex;
}

.recentSearch_title{
    padding: 32px 12px 0px 12px;
    font: 700 14px "Noto Sans";
}

.recentSearch_deleteAll {
    padding: 32px 12px 0px 12px;
    font: 400 14px "Noto Sans";
    color: #9C9C9C;
    cursor: pointer;
}

.recentSearch_content_div {
    width: 100%;
}


.recentSearch_content_div {
    width: calc(100% - 24px);
    padding-left: 12px;
    overflow-x: scroll;
    white-space:nowrap;
    height: 32px;
    margin-top: 16px;
    line-height: 32px;
}

.recentSearch_content {
    font-weight: 400;
    color: #333333;
    background-color: #F5F5F5;
    font: 400 14px "Noto Sans";
    padding: 6px 0 6px 0;
    margin-right: 8px;
    border-radius: 20px;
    cursor: pointer;
}

.recentSearch_content img {
    width: 12px;
    height: 12px;
    line-height: 12px;
}